.logo img {
  max-width: 20px; /* Adjust the size according to your preference */
}
/* assets/css/style.css */
.custom-description {
  max-width: 600px; /* Set your desired width */
  margin: 0 auto; /* Center the description */
}

.custom-description p {
  margin-bottom: 10px; /* Add some spacing between paragraphs */
}
